<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    div{
        margin: 100px 300px 200px 400px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 110%;
        font-style: normal;
        font-variant: normal;
    }
    label{
        font-weight: bold;
    }
    button{
        color: white;
        background-color: blue;  
    }
</style>
<body>
    <div class='form'>
        <form method='POST'>
            <label>Model</label> <br>
            <input name='input_Model' type='text' value='e.g. Honda'> 
            <br>
            <label>Daily fee (VND)</label> <br>
            <input name='input_Dailyfee' type='text' value='100000'>
            <br>
            <label>Image</label> <br>
            <input name='input_Image' type='text' value='e.g. https://hondaxemay.com'>
            <br>
            <label>Year</label> <br>
            <input name='input_Year' type='text' value='e.g. 2013'>
            <br>
            <button>Submit</button>
            
        </form>
    </div>
</body>
</html>